@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.panel-container {
  max-width: 100%;
  margin: 20px;
  padding: 20px;

  .panel {
    width: 250px;
    height: 200px;
    margin: 0 20px 20px 0;
    float: left;
    @include border-radius(5px);

    overflow: auto;
    position: relative;
    padding: 20px;
    background: #333;
    margin: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    p, h1 {
      width: 210px;
    }

    hr {
      background-color: transparent;
      background: none;
      border: none;
      border-bottom: 1px solid rgba(255,255,255,0.08);
      clear: both;
    }

  }

}

$black-1: #333;
.light-background {
  background-color: #ddd !important;
  color: $black-1 !important;

  h2 {
    color: $black-1 !important;
  }

  hr {
    border-bottom: 1px solid rgba(3,3,3,0.08) !important;
  }

}